html{
  height: 100%;
  overflow: hidden;
  background-color: #191919;
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.Get-over-fear{
    background-color: #1f1f1f;
    margin: 0 auto;
    width: 1000px;
    color: white;
    border-bottom: 5px solid rgb(255, 88, 110);
}
.Get-over-fear .get-header{
    background-color: rgb(255, 88, 110);
    text-align: center;
    font-size: 23px;
    padding: 5vh;
    font-family: 'Bellota', cursive;
    text-shadow: 1px .5px black;
    
}
.Sev-tips{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  line-height: 50px;
  margin: 10vh;
  font-size: 1.2rem;
  font-family: 'Bellota', cursive;
}
.five, .one{
    border: 1px solid rgb(255, 88, 110);
    /* padding: 7vh 15vh 15vh 15vh; */
    padding: 10px;
}
.Sev-tips i{
    font-size: 25px;
    margin-right: 3vh;
}







.background-sec1{
    padding-top: 10px;
  background-color: rgb(34, 34, 34);
   height: 70vh;
   box-shadow: 6px 4px 10px rgba(0,0,0.2,0.2);
   margin: 3vh 3vh 3vh 3vh;
   min-height: 600px;
    min-width: 700px;
  
}
.sec1{
    background-image:url('../image/bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #000;
    margin-top: 35px;
    justify-content: space-evenly;
    display: flex;
    height: 60vh;
    min-height: 500px;
    min-width: 600px;
  
}
/* Tagline */
.sec1back{
     background-color: #051e3e8f;
     justify-content: space-evenly;
     display: flex;
     padding-left:20px;
     padding-right:20px;
     color: white;
     
 }
.sec1back #tagline-design{
    font-size: 2.5rem;
    margin: 15vh 5vh 15vh 5vh;
    /* border:1px solid white; */
    align-items: center;
    left:0; 
    line-height: 70px;
    letter-spacing: 1px;
     /* background-color: #1919197c; */
    font-weight: bolder;
    font-family:'Montserrat',sans-serif;
    letter-spacing: -.02em;
    font-style: normal;
    font-stretch: 20px;
}
.tagline{
    border:1px solid white;
    width: 100%;
    min-width:400px;
    min-height: 450px;
    text-align: center;
    padding: 0px 20px 0px 20px;
    margin: 2vh 0vh 2vh 0vh;
   
}
/* paragraph */
.paragraph1{
    margin:10vh 5vh 10vh 5vh;
    font-size: 17px;
    /* background-color: #1919197c; */
     padding: 2rem; 
     line-height: 30px;
}

.parallax{
    background: url('../image/microphone1.jpg') no-repeat center;
    background-size: cover;
    background-attachment:fixed;
    height: 300px;
   
} 
body{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#content{
    position: relative;
}
.container p{
    line-height: 50px;
    color: white;
    font-size: 16px;
    margin:5vh 3vh 5vh 3vh;
    
}
.container, .container:before{
     background: 50% 50% / cover;
}
.container::before{
    bottom: 0;
    left: 2vh;
    content: "";
    position: absolute;
    right: 4vh;
    top: 100vh;
    display: block;
    background: url('../image/bar.jpg') no-repeat center;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    margin-top: 30vh;
}
.container{
    height: 120vh;
    background-color: #222222bb;
    max-width: 1000px;
    min-height: 1000px;
    margin: 0 auto;
    font-size: 18px;
    padding: 25px;
}
.container h1{
    color: white;
    font-size: 20px;
}
